html,
body,
ul,
li,
h2,
input,
textarea,
label, p, iframe {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

body div.container {
  position: relative;
  overflow: hidden;
}

@font-face {
  font-family: "Muli";
  src: url("/font/Muli/Muli-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Muli-ExtraBold";
  src: url("/font/Muli/Muli-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Muli-ExtraBoldItalic";
  src: url("/font/Muli/Muli-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Muli-Light";
  src: url("/font/Muli/Muli-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Muli-ExtraLight";
  src: url("/font/Muli/Muli-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Muli-Regular";
  src: url("/font/Muli/Muli-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Muli-ExtraBold";
  src: url("/font/Muli/Muli-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Muli-SemiBold";
  src: url("/font/Muli/Muli-SemiBold.ttf") format("truetype");
}

section.page-section {
  min-height: 100vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.page-section div.page-section-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
  width: 80%;
}

section.page-section div.page-section-row div.page-section-col {
  width: 40%;
  height: 100%;
}

section.page-section div.page-section-row div.page-section-col h2.page-section-col-heading {
  font-family: "Muli-ExtraBold";
  font-size: 2.25rem;
  color: #002841;
  margin-bottom: 44px;
}

section.page-section div.page-section-row div.page-section-col div.page-section-col-text {
  font-family: "Muli-Regular";
  color: #333333;
  line-height: 32px;
  font-size: 1.125rem;
}

section.page-section div.page-section-row div.page-section-col div.page-section-col-text p {
  margin-bottom: 1.125rem;
}

section.page-section div.page-section-row div.page-section-col div.page-section-col-text ul li:before {
  content: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAYAAACE2W/HAAAAiUlEQVQokZXQMQ5BURAF0EMUNiF2oaKxDb3obUHil9Yg0WkolDq1QidaobADkcgk/4to/rjd3Mx5eZmG3UVNZnhg8b3WqlNY4oA2in/gGUPsy7nIwsjpFwecopN84Ig5bgGveCVhF0/cM1etEl/dYIRtM4n6JZoEiiIDe+VyoFVVZq46wBjrT4M3AigZ824tNM8AAAAASUVORK5CYII=);
  margin-right: 20px;
}

section.page-section div.page-section-row div.page-section-col div.page-section-col-text a {
  color: #01a6c9;
}

section.page-section div.page-section-row div.page-section-col.section-image {
  width: 40%;
  text-align: right;
  height: 100%;
}

section.page-section div.page-section-row div.page-section-col.section-image img.page-section-col-image {
  height: auto;
  width: 100%;
}

section.page-section div.page-section-row.row-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.page-section div.page-section-row.row-reverse div.page-section-col.section-image {
  text-align: left;
}

section.page-section-cta {
  height: 100vh;
  background-color: #f5f8fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.page-section-cta p.page-section-cta-heading {
  font-size: 1.125rem;
  line-height: 2rem;
  font-family: "Muli-SemiBold";
  color: #333333;
}

section.page-section-cta p.page-section-cta-subheading {
  font-size: 0.925rem;
  line-height: 1.7rem;
  font-family: "Muli-SemiBold";
  color: #7b94a5;
  margin-bottom: 30px;
}

section.page-section-cta form.page-section-cta-form {
  width: 50%;
}

section.page-section-cta form.page-section-cta-form input {
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15px;
}

section.page-section-cta form.page-section-cta-form input:hover {
  cursor: pointer;
}

section.page-section-cta form.page-section-cta-form input[type="text"] {
  display: inline-block;
  width: 49%;
  height: 49px;
}

section.page-section-cta form.page-section-cta-form input[type="text"][name] {
  margin-right: 10px;
}

section.page-section-cta form.page-section-cta-form input[type="email"] {
  display: block;
  width: 100%;
  height: 49px;
}

section.page-section-cta form.page-section-cta-form textarea {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  resize: none;
  margin-bottom: 20px;
  padding: 18px 15px;
}

section.page-section-cta form.page-section-cta-form div.cta-consent-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.page-section-cta form.page-section-cta-form div.cta-consent-row input[type="checkbox"] {
  margin-right: 10px;
}

section.page-section-cta form.page-section-cta-form div.cta-consent-row input[type="checkbox"]:checked {
  margin-right: 10px;
  color: red;
}

section.page-section-cta form.page-section-cta-form div.cta-consent-row .cta-consent-label {
  font-family: "Muli-SemiBold";
  color: #002841;
  font-size: 0.625rem;
  line-height: 1rem;
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  section.page-section div.page-section-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px auto;
    width: 80%;
  }
  section.page-section div.page-section-row div.page-section-col {
    width: 100%;
    height: 100%;
  }
  section.page-section div.page-section-row div.page-section-col.section-image {
    width: 100%;
    height: 100%;
    margin: 20px 0;
  }
  section.page-section div.page-section-row div.page-section-col.section-image img.page-section-col-image {
    height: auto;
    width: 100%;
  }
  section.page-section div.page-section-row.row-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section.page-section div.page-section-row.row-reverse div.page-section-col.section-image {
    text-align: left;
  }
}

nav.main-navigation {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  position: fixed;
  top: 5%;
  left: 0;
  right: 0;
  z-index: 100;
}

nav.main-navigation a.main-navigation-logo img {
  height: 100px;
  width: 90px;
}

nav.main-navigation ul.main-navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  list-style: none;
}

nav.main-navigation-scrolled {
  color: #ffffff;
  background-color: #001927;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  z-index: 110;
  padding: 10px;
}

nav.main-navigation-scrolled a.main-navigation-logo img {
  height: 50px;
  width: 45px;
}

nav.main-navigation-scrolled ul.main-navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  list-style: none;
}

nav.main-navigation-scrolled div.main-navigation-hamburger {
  display: none;
}

nav.main-navigation-scrolled div.main-navigation-hamburger div {
  display: block;
  height: 1px;
  width: 20px;
  border: 1px solid #ffffff;
  margin: 5px 0;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  nav.main-navigation {
    color: #ffffff;
    background-color: #001927;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0;
    right: 0;
    z-index: 110;
    padding: 10px;
  }
  nav.main-navigation a.main-navigation-logo {
    margin-left: 10%;
  }
  nav.main-navigation a.main-navigation-logo img {
    height: 50px;
    width: 45px;
  }
  nav.main-navigation ul.main-navigation-links {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 100%;
    list-style: none;
    display: none;
    color: #ffffff;
    background-color: #001927;
    padding-left: 10%;
    border-top: 1px solid #ffffff;
  }
  nav.main-navigation ul.main-navigation-links li {
    padding: 10px 0;
  }
  nav.main-navigation ul.main-navigation-links li:hover {
    cursor: pointer;
  }
  nav.main-navigation div.main-navigation-hamburger {
    display: block;
    margin-right: 10%;
  }
  nav.main-navigation div.main-navigation-hamburger div {
    height: 1px;
    width: 20px;
    border: 1px solid #ffffff;
    margin: 5px 0;
    background-color: #ffffff;
  }
  nav.main-navigation div.main-navigation-hamburger:hover {
    cursor: pointer;
  }
  nav.main-navigation-scrolled ul.main-navigation-links {
    display: none;
  }
  nav.main-navigation-scrolled div.main-navigation-hamburger {
    display: block;
  }
  nav.main-navigation-scrolled div.main-navigation-hamburger div {
    height: 1px;
    width: 20px;
    border: 1px solid #ffffff;
    margin: 5px 0;
    background-color: #ffffff;
  }
}

div.slider {
  height: 100vh;
}

div.slider div.disabled {
  display: none;
}

div.slider div.active {
  display: block;
}

div.slider div.active:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

div.slider div.slide1 {
  background-image: url("/images/slider-image1.png");
}

div.slider div.slide2 {
  background-image: url("/images/university-slider2.png");
}

div.slider div.slide3 {
  background-image: url("/images/university-slider3.png");
}

div.slider div.slider-single {
  position: relative;
  height: 100%;
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
}

div.slider div.slider-single div.slider-single-content {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 10;
}

div.slider div.slider-single div.slider-single-content h2.slider-single-content-header {
  color: #ffffff;
  font-family: Muli-ExtraLight;
  font-size: 2.5rem;
}

div.slider div.slider-single div.slider-single-content div.slider-single-content-subheader {
  color: #00b6dc;
  font-family: Muli-ExtraLight;
  font-size: 2.5rem;
}

div.slider div.slider-single div.slider-single-content svg.slider-control {
  cursor: pointer;
}

div.slider div.slider-single div.slider-single-content svg.slider-control path.prev-fill-disabled {
  fill: #ffffff;
}

div.slider div.slider-single div.slider-single-content svg.slider-control path.prev-fill-active {
  fill: #ffcd19;
}

div.slider div.slider-single div.slider-single-content svg.slider-control path.next-fill-active {
  fill: #ffcd19;
}

div.slider div.slider-single div.slider-single-content svg.slider-control path.next-fill-disabled {
  fill: #ffffff;
}

div.slider div.slider-single div.slider-single-content div.slider-single-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
}

div.slider div.slider-single div.slider-single-content div.slider-single-buttons div.slider-single-btn {
  font-family: "Muli-ExtraBold";
  font-size: 14px;
  border-radius: 24px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}

div.slider div.slider-single div.slider-single-content div.slider-single-buttons div.btn-white {
  background-color: #ffffff;
  color: #002841;
}

div.slider div.slider-single div.slider-single-content div.slider-single-buttons div.btn-transparent {
  color: #ffffff;
  margin-left: 20px;
  border: 2px solid #f0f3f5;
}

div.site-navigation {
  position: fixed;
  right: 5%;
  top: 45%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.site-navigation svg {
  margin: 10px 0;
}

div.yt-popup img:hover {
  cursor: pointer;
}

div.yt-popup-modal {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  display: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

div.yt-popup-modal iframe.yt-popup-iframe {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

div.yt-popup-modal.show-popup {
  opacity: 1;
  display: inherit;
}

footer.page-footer {
  position: relative;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 50vh;
  background-color: #001927;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

footer.page-footer div.page-footer-copy {
  color: #ffffff;
  position: absolute;
  bottom: 20%;
  right: 0;
}

footer.page-footer div.page-footer-map {
  color: #ffffff;
  margin-top: 10%;
  font-family: "Muli-Regular";
  font-size: 1rem;
  line-height: 1rem;
}

footer.page-footer div.page-footer-map div.map-container iframe.map-container-iframe {
  border-radius: 50%;
  width: 199px;
  height: 207px;
  margin-top: 50px;
}

footer.page-footer div.page-footer-nav {
  margin-top: 10%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer.page-footer div.page-footer-nav div.footer-nav-col-heading {
  color: #ffffff;
  font-family: "Muli-ExtraBold";
  font-size: 1rem;
  margin-bottom: 25px;
  line-height: 0.750rem;
}

footer.page-footer div.page-footer-nav ul.footer-nav-col-links {
  color: #ffffff;
  list-style-type: none;
}

footer.page-footer div.page-footer-nav ul.footer-nav-col-links li {
  font-family: "Muli-Regular";
  font-size: 1rem;
  padding-bottom: 20px;
  line-height: 0.750rem;
}

footer.page-footer::before {
  content: "";
  height: 50vh;
  width: 500%;
  position: absolute;
  left: -200%;
  z-index: -1;
  background-color: #001927;
}

@media screen and (max-width: 1024px) {
  footer.page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer.page-footer div.page-footer-copy {
    color: #ffffff;
    position: absolute;
    bottom: 2%;
    right: 0;
  }
  footer.page-footer div.page-footer-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 5% 0;
  }
  footer.page-footer div.page-footer-map div.map-container {
    width: 100%;
  }
  footer.page-footer div.page-footer-map div.map-container iframe.map-container-iframe {
    border-radius: 0%;
    width: 100%;
    height: 207px;
    margin-top: 0;
  }
  footer.page-footer div.page-footer-nav {
    margin-top: 10%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer.page-footer div.page-footer-nav div.footer-nav-col {
    margin-bottom: 20px;
  }
  footer.page-footer div.page-footer-nav div.footer-nav-col-heading {
    color: #ffffff;
    font-family: "Muli-ExtraBold";
    font-size: 1rem;
    margin-bottom: 25px;
    line-height: 0.750rem;
  }
  footer.page-footer div.page-footer-nav ul.footer-nav-col-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: #ffffff;
    list-style-type: none;
  }
  footer.page-footer div.page-footer-nav ul.footer-nav-col-links li {
    font-family: "Muli-Regular";
    font-size: 1rem;
    padding-right: 20px;
    padding-bottom: 20px;
    line-height: 0.750rem;
  }
}

footer.page-footer::before {
  content: "";
  height: 100%;
  width: 500%;
  position: absolute;
  left: -200%;
  z-index: -1;
  background-color: #001927;
}

@media screen and (max-width: 768px) {
  footer.page-footer div.page-footer-map {
    gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10% 0;
  }
  footer.page-footer div.page-footer-map div.map-container {
    width: 100%;
  }
  footer.page-footer div.page-footer-map div.map-container iframe.map-container-iframe {
    border-radius: 0%;
    width: 100%;
    height: 207px;
    margin-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */