footer.page-footer {
    position: relative;
    margin: 0 auto;
    justify-content: space-between;
    height: 50vh;
    background-color: $footer-bg-color;
    display: flex;
    width: 80%;
    justify-content: space-between;
    div.page-footer-copy {
        color:$light-color;
        position: absolute;
        bottom:20%;
        right: 0;
    }
    div.page-footer-map {
        color:$light-color;
        margin-top:10%;
        font-family: "Muli-Regular";
        font-size: 1rem;
        line-height: 1rem;
        div.map-container {
            iframe.map-container-iframe {
               border-radius: 50%; 
               width: 199px;
               height:207px;
               margin-top:50px;
            }
        }
    }
    div.page-footer-nav{
        margin-top:10%;
        width: 80%;
        display: flex;
        justify-content: space-between;
        div.footer-nav-col-heading {
            color:$light-color;
            font-family: "Muli-ExtraBold";
            font-size: 1rem;
            margin-bottom: 25px;
            line-height: 0.750rem;
        }
        ul.footer-nav-col-links {
            color:$light-color;
            list-style-type: none;
            li {
                font-family: "Muli-Regular";
                font-size: 1rem;
                padding-bottom: 20px;
                line-height: 0.750rem;
            }
        }
    }
}

footer.page-footer::before {
    content:"";
    height: 50vh;
    width: 500%;
    position: absolute;
    left: -200%;
    z-index: -1;
    background-color: $footer-bg-color;
}