nav.main-navigation {
    color:white;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width:80%;
    position: fixed;
    top:5%;
    left: 0;
    right: 0;
    overflow: hidden;
    a.main-navigation-logo {
        img {
            height: 100px;
            width: 90px;
        }
    }
    ul.main-navigation-links {
        display: flex;
        justify-content: space-around;
        width: 50%;
        list-style: none;
    }
}