section.page-section {
    height: 100vh;
    background-color: $light-color;
    display: flex;
    align-items: center;
    div.page-section-row {
        display: flex;
        align-items: flex-start;
        margin: 0 auto;
        max-height: 500px;
        width: 80%;
        div.page-section-col {
            width: 50%;
            height: 100%;
            
            h2.page-section-col-heading {
                font-family: "Muli-ExtraBold";
                font-size:2.25rem;
                color:$heading-text-dark-color;
                margin-bottom: 44px;
            }
            div.page-section-col-text {
                font-family: "Muli-Regular";
                color:$section-text-color;
                line-height: 32px;
                font-size: 1.125rem;
                p {
                    margin-bottom: 1.125rem;
                }
                ul li:before{
                    content: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAYAAACE2W/HAAAAiUlEQVQokZXQMQ5BURAF0EMUNiF2oaKxDb3obUHil9Yg0WkolDq1QidaobADkcgk/4to/rjd3Mx5eZmG3UVNZnhg8b3WqlNY4oA2in/gGUPsy7nIwsjpFwecopN84Ig5bgGveCVhF0/cM1etEl/dYIRtM4n6JZoEiiIDe+VyoFVVZq46wBjrT4M3AigZ824tNM8AAAAASUVORK5CYII=);
                    margin-right: 20px;
                }
                a {
                   color:$link-text-color; 
                }   
            }
        }
        div.page-section-col.section-image {
            width: 50%;
            text-align: right;
            height: 100%;
            img.page-section-col-image {
                height: 100%;
                width: auto;
            }
        }
    }
    div.page-section-row.row-reverse {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        div.page-section-col.section-image {
            text-align: left;
        }
    }
}

section.page-section-cta {
    height: 100vh;
    background-color: $btn-section-cta-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    form.page-section-cta-form {
        width: 50%;
        input {
            margin-bottom: 20px;
            box-sizing: border-box;
        }
        input:hover {
            cursor: pointer;
        }
        input[type="text"] {
            display: inline-block;
            width: 48%;
        }
        input[type="email"] {
            display: block;
            width: 100%;
        }
        textarea {
            display: block;
            box-sizing: border-box;
            width: 80%;
        }
        input[type="checkbox"] {
            display: inline-block;
        }
    }
}
