div.container {
    position: relative;
    div.main-section {
        height: 100vh;
        background-image: url('/images/slider-image1.png');
        background-color: gray;
        background-repeat: no-repeat;
        background-size: cover;
    }
}