div.slider {
    height: 100vh;
    div.disabled {
        display: none;
    }
    div.active {
        display: block;
    }
    div.active:after {
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    div.slide1 {
        background-image: url("/images/slider-image1.png");
    }
    div.slide2 {
        background-image: url("/images/university-slider2.png");
    }
    div.slide3 {
        background-image: url("/images/university-slider3.png");
    }

    div.slider-single {
        position: relative;
        height: 100%;
        background-color: gray;
        background-repeat: no-repeat;
        background-size: cover;
        div.slider-single-content {
            width: 80%;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            z-index: 10;
            h2.slider-single-content-header {
                color: $light-color;
                font-family: Muli-ExtraLight;
                font-size: 2.5rem;
            }
            div.slider-single-content-subheader {
                color: $light-blue-color;
                font-family: Muli-ExtraLight;
                font-size: 2.5rem;
            }
            svg.slider-control {
                cursor: pointer;
                path.prev-fill-disabled {
                    fill:$light-color;
                }
                path.prev-fill-active {
                    fill:$slider-active-color;
                }
                path.next-fill-active {
                    fill:$slider-active-color;
                }
                path.next-fill-disabled {
                    fill:$light-color;
                }
            } 
            div.slider-single-buttons {
                display: flex;
                margin: 40px 0;
                div.slider-single-btn {
                    font-family: "Muli-ExtraBold";
                    font-size: 14px;
                    border-radius: 24px;
                    box-sizing: content-box;
                    height: 50px;
                    line-height: 50px;
                    padding: 0 20px;
                }
                div.btn-white {
                    background-color: $light-color;
                    color: $btn-text-dark-color;
                }
                div.btn-transparent {
                    color: $light-color;
                    margin-left: 20px;
                    border: 2px solid $btn-slider-border;
                }
            }
        }
    }
}
