// colors

$light-color: #ffffff;
$light-blue-color: #00b6dc;
$btn-text-dark-color: #002841;
$heading-dark-color: #002841;
$slider-active-color: #ffcd19;
$section-text-color: #333333;
$link-text-color: #01a6c9;
$btn-slider-border: #f0f3f5;
$btn-section-cta-bg: #f5f8fa;
$footer-bg-color: #001927;
