html,
body,
ul,
li,
h2,
input,
textarea,
label,
p,
iframe {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol,
ul {
	list-style: none;
}

body {
	div.container {
		position: relative;
		overflow: hidden;
	}
}

@import "variables";
@import "fonts";
@import "sections";
@import "navigation-menu";
@import "slider";
@import "site-navigation";
@import "popup-yt";
@import "footer";
